img {
  overflow: hidden;
}
.HistoryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  padding-bottom: 30px;
  height: 850px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}
.SearchSection {
  width: 1520px;
  height: 330px;
  padding-top: 30px;
  margin-top: 30px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryList {
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 1520px;
  height: 470px;
  overflow: auto;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryOrder {
  padding: 20px;
  width: 1380px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  font-size: 20px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  position: relative;
}

.HistoryOrderInfo {
  display: flex;
}
.HistoryOrderItems {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 1340px;
  gap: 30px;
  align-items: center;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryDish {
  display: flex;
  padding: 20px;
  width: 500px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryDishInfo {
  padding-left: 50px;
  padding-top: 60px;
  text-align: center;
}
.HistoryOrderTotal {
  position: absolute;
  right: 70px;
  text-align: center;
  width: 200px;
}
