img {
  overflow: hidden;
}
.HistoryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  padding-bottom: 30px;
  height: 850px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}
.SearchSection {
  width: 95%;
  height: 330px;
  padding-top: 30px;
  margin-top: 30px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryList {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 95%;
  height: 470px;
  overflow: auto;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryOrder {
  padding: 20px;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  font-size: 20px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  position: relative;
}

.HistoryOrderInfo {
  display: flex;
  position: relative;
}
.OrderItemsAndTotal {
  display: flex;
  width: 99%;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryOrderItems {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 30px 30px;
  width: 80%;
  gap: 30px;
  align-items: center;
}
.HistoryDish {
  display: flex;
  padding: 20px;
  width: 500px;
  border: 2px solid #455a64;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.HistoryDishInfo {
  padding-left: 50px;
  padding-top: 60px;
  text-align: center;
}
.HistoryOrderTotal {
  font-size: 25px;
  height: 30px;
  margin: auto auto auto 0;
  text-align: center;
}
